:root {
  --primary-bg-color: #000;
  --secondary-bg-color: #fff;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --tertiary-text-color: #9b53ff;
  --overlay-color: #9b53ff;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 4.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-text-color);
  mix-blend-mode: difference;
}

.menu-btn-open {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56rem;
  background: var(--overlay-color);
  border-bottom: var(--secondary-bg-color) 0.4rem solid;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 1000 !important;
}

.menu-btn-close {
  cursor: pointer;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.25rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.grid-item {
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card1 {
  background: url(./assets/p1.webp) no-repeat 50% 50%;
}

.card2 {
  background: url(./assets/p2.jpeg) no-repeat 50% 50%;
}

.card3 {
  background: url(./assets/p6.jpeg) no-repeat 50% 50%;
}

.card4 {
  background: url(./assets/p3.jpeg) no-repeat 50% 50%;
}

h1 {
  color: var(--primary-text-color);
  font-size: 1.8rem;
  font-weight: bold;
}
.large-text {
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.4;
  font-size: 2rem;
  text-align: justify;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-top: 11rem;
  margin-bottom: 6rem;
  width: auto;
  height: 45rem;
  border-radius: 45px;
  overflow: hidden;
  padding: 0;
  color: var(--primary-text-color);
}

.scroller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 58rem;
  height: 10rem;
  border-top: var(--secondary-bg-color) 0.4rem solid;
  border-bottom: var(--secondary-bg-color) 0.4rem solid;
  overflow: hidden;
  background-color: var(--overlay-color);
}

.scroller-two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 68rem;
  height: 10rem;
  border-bottom: var(--secondary-bg-color) 0.4rem solid;
  overflow: hidden;
}

.scroller-text {
  font-size: 7rem;
  font-weight: bold;
  white-space: nowrap;
  word-spacing: 5rem;
  animation: move-rtl 60s linear infinite;
  color: var(--primary-text-color);
}

.scroller-text-two {
  font-size: 7rem;
  font-weight: bold;
  white-space: nowrap;
  word-spacing: 5rem;
  animation: move-ltr 60s linear infinite;
  color: var(--primary-text-color);
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes move-ltr {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

p {
  color: var(--primary-text-color);
  padding-top: 4.5rem;
  margin: 4.5rem;
  font-size: 1.6rem;
  text-align: justify;
}

@media (max-width: 600px) {
  nav {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  .menu-nav {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  .menu-overlay {
    height: 50rem;
  }
  .grid-container {
    margin: 1.5rem;
    gap: 1.5rem;
  }
  .large-text {
    height: 40rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-size: 2rem;
  }
  p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .scroller {
    top: 55rem;
    height: 10rem;
    border-top: var(--secondary-bg-color) 0.4rem solid;
  }
  .scroller-two {
    top: 65rem;
    height: 10rem;
    border-top: #000 0.4rem solid;
    border-bottom: var(--secondary-bg-color) 0.4rem solid;
  }
  .scroller-text,
  .scroller-text-two {
    font-size: 5.5rem;
  }
}
