:root {
  --primary-bg-color: #0d0d0d;
  --primary-text-color: #f2f2f2;
  --secondary-bg-color: #f2f2f2;
  --secondary-text-color: #f2f2f2;
  --tertiary-text-color: #f2f2f2;
  --fourth-text-color: #0d0d0d;
  --fifth-text-color: #f2f2f2;
  font-size: 10px;
}
.light-theme {
  --primary-bg-color: #f2f2f2;
  --primary-text-color: #0d0d0d;
  --secondary-bg-color: #0d0d0d;
  --secondary-text-color: #0d0d0d;
  --tertiary-text-color: #0d0d0d;
  --fourth-text-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

#loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0400df;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

#loader {
  color: white;
  font-size: 10em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 4.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--fifth-text-color);
  mix-blend-mode: difference;
  z-index: 1000;
}

.wrapper {
  width: 100%;
}

.transition {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #0400df;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.light,
.light-overlay {
  cursor: pointer;
}

.menu-btn-open {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56rem;
  background: #0400df;
  border-bottom: #0400df 0.4rem solid;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 1000 !important;
}

.menu-btn-close {
  cursor: pointer;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f2f2f2;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.25rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.grid-item {
  position: relative;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2; /* Adjust the color and opacity here */
  border-radius: 1rem; /* To maintain the border radius of the .grid-item */
  z-index: 1; /* Ensure it's above the background image */
}

.grid-item * {
  position: relative;
  z-index: 2;
}

.card1 {
  background: url(./assets/p2.jpeg) no-repeat 50% 50%;
}

.card2 {
  background: url(./assets/p2.jpeg) no-repeat 50% 50%;
}

.card3 {
  background: url(./assets/p6.jpeg) no-repeat 50% 50%;
}

.card4 {
  background: url(./assets/p3.jpeg) no-repeat 50% 50%;
}

a {
  text-decoration: none;
}

h1 {
  color: #0d0d0d;
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  margin-top: 11rem;
  margin-bottom: 0rem;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  width: auto;
  height: 65rem;
  overflow: hidden;
  border-radius: 40px;
  position: relative; /* Add position relative */
}

.spacer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    4,
    0,
    223,
    0.5
  ); /* RGBA for #0400DF with 50% opacity */
  border-radius: 40px; /* To maintain the border radius of the parent */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 58rem;
  height: 35rem;
  overflow: hidden;
}

.scroller-text {
  font-size: 30rem;
  font-weight: bold;
  white-space: nowrap;
  word-spacing: 5rem;
  animation: move-rtl 300s linear infinite;
  color: var(--primary-text-color);
}

.scroller-other {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30rem;
  overflow: hidden;
  margin-top: 8rem;
}

.scroller-text-other {
  font-size: 30rem;
  font-weight: bold;
  white-space: nowrap;
  word-spacing: 5rem;
  animation: move-rtl 400s linear infinite;
  color: var(--primary-text-color);
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem 0;
  padding: 4.5rem;
  height: 25rem;
  background-color: var(--secondary-bg-color);
}

.title {
  color: var(--fourth-text-color);
  font-size: 12rem;
  font-weight: bold;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

h2 {
  color: var(--secondary-text-color);
  margin: 4.5rem;
  font-size: 3rem;
}

h3 {
  font-family: monospace, Helvetica, sans serif;
}

p {
  font-family: monospace, Helvetica, sans serif;
}

.function-text {
  color: var(--primary-text-color);
  margin: 4.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
}

.faq-container {
  width: 100%;
  margin: 4.5rem;
  max-width: calc(100% - 9rem);
  font-family: Helvetica;
}

.faq-row {
  border-top: 0.3rem solid var(--secondary-bg-color);
}

.faq-row:last-child {
  border-bottom: 0.3rem solid var(--secondary-bg-color);
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.faq-content {
  transform-origin: top;
  transform: scaleY(0);
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
  color: var(--secondary-text-color);
}

.faq-content p {
  margin: 0;
}

/* When expanded, change symbol and height */
.faq-row.expanded .faq-content {
  transform: scaleY(1);
  height: auto;
}

.faq-row.expanded .symbol {
  transform: rotate(90deg);
}

.symbol {
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

pre,
code {
  border-radius: 0.8rem; /* Adjust as needed */
}

.github {
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-text-color);
}

@media (max-width: 600px) {
  nav {
    padding: 1.5rem;
    font-size: 1.4rem;
  }
  .menu-nav {
    padding: 1.5rem;
    font-size: 1.4rem;
  }
  .menu-overlay {
    height: 50rem;
    border-bottom: #0400df 0.3rem solid;
  }
  .grid-container {
    margin: 1.5rem;
    gap: 1.5rem;
  }
  .spacer {
    margin-top: 6rem;
    margin-bottom: 0rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    height: 35rem;
    border-radius: 2rem;
  }
  .spacer::before {
    border-radius: 2rem; /* To maintain the border radius of the parent */
  }
  h2 {
    margin: 4.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 2rem;
  }
  .function-text {
    margin: 3rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .scroller {
    top: 55rem;
    height: 25rem;
  }
  .scroller-text {
    font-size: 20rem;
  }
  .scroller-other {
    height: 30rem;
    margin-top: 3.5rem;
  }

  .scroller-text-other {
    font-size: 30rem;
    font-weight: bold;
    white-space: nowrap;
    word-spacing: 5rem;
    animation: move-rtl 400s linear infinite;
    color: var(--primary-text-color);
  }
  .title-container {
    margin: 1.5rem 0 1.5rem 0;
    padding: 1.5rem;
    height: 10rem;
  }
  .title {
    font-size: 5rem;
  }
  .faq-container {
    margin: 1.5rem;
    max-width: calc(100% - 3rem);
  }
  .faq-content {
    font-size: 1.2rem;
  }
  .function-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 601px) and (max-width: 1600px) {
  .spacer {
    margin-top: 9rem;
    margin-bottom: 0rem;
    margin-right: 4.5rem;
    margin-left: 4.5rem;
    height: 46rem;
  }
  .scroller {
    top: 30rem;
    height: 25rem;
  }
  .scroller-text {
    font-size: 25rem;
  }
  .title-container {
    height: 15rem;
  }

  .title {
    font-size: 6rem;
  }
}
