:root {
  --primary-bg-color: #0d0d0d;
  --primary-text-color: #f2f2f2;
  --secondary-bg-color: #f2f2f2;
  --secondary-text-color: #f2f2f2;
  --tertiary-text-color: #f2f2f2;
  font-size: 10px;
}
.light-theme {
  --primary-bg-color: #f2f2f2;
  --primary-text-color: #0d0d0d;
  --secondary-bg-color: #0d0d0d;
  --secondary-text-color: #f2f2f2;
  --tertiary-text-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 4.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-text-color);
  mix-blend-mode: difference;
}

.light {
  cursor: pointer;
}

.menu-btn-open {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56rem;
  background: var(--secondary-bg-color);
  border-bottom: var(--secondary-bg-color) 0.4rem solid;
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 1000 !important;
}

.menu-btn-close {
  cursor: pointer;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.25rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.grid-item {
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card1 {
  background: url(./assets/p1.webp) no-repeat 50% 50%;
}

.card2 {
  background: url(./assets/p2.jpeg) no-repeat 50% 50%;
}

.card3 {
  background: url(./assets/p6.jpeg) no-repeat 50% 50%;
}

.card4 {
  background: url(./assets/p3.jpeg) no-repeat 50% 50%;
}

h1 {
  color: var(--tertiary-text-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  margin-top: 11rem;
  margin-bottom: 0rem;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  width: auto;
  height: 65rem;
  overflow: hidden;
  border-radius: 40px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 58rem;
  height: 35rem;
  overflow: hidden;
}

.scroller-text {
  font-size: 30rem;
  font-weight: bold;
  white-space: nowrap;
  word-spacing: 5rem;
  animation: move-rtl 300s linear infinite;
  color: var(--primary-text-color);
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

p {
  color: var(--primary-text-color);
  padding-top: 4.5rem;
  margin: 4.5rem;
  font-size: 1.6rem;
  text-align: justify;
}

@media (max-width: 600px) {
  nav {
    padding: 1.5rem;
    font-size: 1.4rem;
  }
  .menu-nav {
    padding: 1.5rem;
    font-size: 1.4rem;
  }
  .menu-overlay {
    height: 50rem;
    border-bottom: var(--secondary-bg-color) 0.3rem solid;
  }
  .grid-container {
    margin: 1.5rem;
    gap: 1.5rem;
  }
  .spacer {
    margin-top: 6rem;
    margin-bottom: 0rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    height: 50rem;
    border-radius: 2rem;
  }
  p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .scroller {
    top: 55rem;
    height: 25rem;
  }
  .scroller-text {
    font-size: 20rem;
  }
}

@media (min-width: 601px) and (max-width: 1600px) {
  .spacer {
    margin-top: 9rem;
    margin-bottom: 0rem;
    margin-right: 4.5rem;
    margin-left: 4.5rem;
    height: 46rem;
  }
  .scroller {
    top: 30rem;
    height: 25rem;
  }
  .scroller-text {
    font-size: 25rem;
  }
}
